:root {
  --prim: #1D3746;
  --second: #E9f3f5;
  --tert: #122222;
  --accent-light: #A3791A;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--prim);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  color: var(--accent-light);
}

.navActive {
  color: var(--second);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.github-flex {
  display: flex;
  flex-wrap: wrap;

}

.img-thumbnail {
  width: 33%;
  height: auto;
}

.about-text {
  width: 33%;
}

.center-text {
  display: flex;
  justify-content: space-evenly;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.myt-2 {
  margin-top: 20px;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

form {
  width: 50%;
  color: var(--accent-light);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 100%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

button {
	background: var(--accent-light);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

footer a:hover, .link:hover {
  color: var(--second);
}

/* Begin <header> style */
header {
  display:flex;
  flex-wrap: wrap;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tert);
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  display: flex;
  justify-content: space-around;
  color:var(--accent-light);
  text-shadow: 0 0 10px rgba(0,0,0,1);
  align-items: center;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin: left 0%;
  }
}

/* create link to top of page by pressing header h1 */
.home{
  text-decoration: none;
  color: var(--accent-light);
}

.home:hover {
  color: var(--second);
}
 /* begin navigation bar styling */
header nav {
  margin: 10px 0;
  animation-duration: 1.75s;
  animation-name: slideinright;
}

@keyframes slideinright {
  from {
    margin-right: -150%;
  }

  to {
    margin: right 0%;
  }
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul a {
  padding: 10px 15px;
  color: var(--accent-light);
  text-decoration: none;
  font-size: 1.55vw;
  text-shadow: 0 0 7px rgba(0,0,0,1);
}

header nav ul a:hover {
  color:var(--second);
}
/* end header styling */

/* begin main content styling */
main {
  flex-direction: column;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* hero styling begins */
.hero {
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid var(--accent-light);
}

.hero h2 {
  width: 30%;
  text-align: center;
  margin: auto;
  color: var(--accent-light);
  flex: 1;
}

.hero p {
  width: 70%;
  text-align: left;
  margin: auto;
  color:var(--accent-light);
}

/* stying for photo in hero */
.image-circle {
 width: 300px;
 height: 300px;
 position: relative;
 overflow: hidden;
 border-radius: 50%;
 box-shadow: 0 0 20px rgba(0,0,0,.7);
 margin: auto 100px auto auto;
 position: relative;
}

.profile-pic {
 display: inline;
 width: 100%;
 position: absolute;
 filter: hue-rotate(250deg);
 top: -25%;
 transform:rotate(45deg);
 -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

 /* About me section styling  */
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about p {
  padding-left: 20%;
  padding-right: 20%;
  width: 90%;
}

.container {
  max-width: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  color:var(--accent-light);
  align-items: center;
  padding: 2%;
  width: 100%;
}


.section-header {
  text-align: left;
  margin: auto;
  color:var(--accent-light);
  flex: 1 0 0;
  width: 10%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 4px;
  border-radius: 5px;
  max-width: 90%;
  position: relative;
}

.project-link {
  text-decoration: none;
}

.project-item h3 {
  text-align: center;
  position: absolute;
  background-color: var(--prim);
  padding: 10px;
  bottom: 0;
  margin-bottom: 10px;
  margin-left:10px;
  color: var(--accent-light);
  border: 2px solid var(--accent-light);
  box-shadow: 0 0 10px rgba(0,0,0,.7);
  border-radius: 1px;
}

.first-row{
  flex: 2 0 100%
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  z-index: 100;
}

.card {
  width: 25%;
  text-align: center;
  margin: 15px;
}

.card:hover {
  filter: brightness(110%) saturate(120%);
  transform: scale(1.1);
  z-index: 11;
  transition: .25s;
}

img {
  width: 100%;
  height: auto;
}

/* Contact info section styling */

#contact div {
  color:var(--accent-light);
  text-decoration: none;
  width: 90%;
  text-align: right;
}

#contact div a {
  color:var(--accent-light);
  text-decoration: none;
}

#contact div a:hover {
  color: var(--second);
  text-decoration: underline;
}
/* end main content styling */

/* footer styling */
footer {
  color:var(--accent-light);
  background-color: var(--tert);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}


/*Media queries */

@media screen and (max-width: 980px) {

  .section-header {
    border: none;
  }

  .image-circle {
    width: 150px;
    height: 150px;
    transition: .25s;
  }
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
  
  header h1 {
    width: 100%;
    font-size:calc(18px + 1.5vw);
    animation: none !important;
  }
 
  header nav {
    animation: none !important;
  }
  
  header nav ul {
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 1px;
  }

  header nav li a {
    font-size:calc(12px + 1.5vw);
  }

  .section-header {
    font-size: calc(18px + 1.5vw);
    width: auto;
  }

  .section-header p {
    font-size:calc(12px + 1.5vw);
  }

  .content {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
  }

  .project-item h3 {
    font-size:calc(8px + 1.5vw);
    margin-bottom: 5px;
    margin-left: 0;
    border: 3px solid var(--tert);
  }

  .project-img{
    object-fit: cover;
  }

  address {
    text-align: center;
    font-size:calc(12px + 1.5vw);
  }
}

/* queries */
@media screen and (max-width: 575px) {
    .image-circle {
    display: none;
  }

  .hero {
    background-position: center;
    padding-bottom: 50px;
  }

  #about {
    padding-top: 10px;
    padding-bottom: 10px;
    scroll-margin-top: 5em;
  }
  
  #about p {
    padding-left: 10px;
    padding-right: 10px;
    width: 85%;
    margin: 10px;
  }

  header {
    padding: 2px;
  }

  #work {
    scroll-margin-top: 5em;
  }
}

